body {

    font-size: 15px;

}
header {

    padding: 15px 0;
    margin-bottom: 50px;
    background-color: #428bca;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1) inset;
    color: #ffffff;
}

.tab-content {
    margin-top: 30px;
}

.table thead {
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
}
.table {
    font-size: 13px;
}
.table tr:hover {
    font-weight: bold;
    transition: all 0.2s;
}
.table td:first-child {
    width: 300px;
    padding-left: 30px;
}
.table td.commands {
    text-align: right;
}
.table td.commands .cancel_edit, .table td.commands .save {
    display: none;
    color: darkred;
}
table td.number{
    width: 126px;
    text-align: right;
    padding-right: 30px !important;
}
td input[type="text"]{
    display: none;
    margin-left: -11px;
    padding-left: 10px;
}
td.number input[type="text"] {
    width: 80px;
    text-align: right;
    padding-right: 10px;
    margin-left: 0;
    margin-right: -10px;
}


/* ----- Column edition mode ---- */
tr.edition td input[type="text"] {
    display: inline;
}
tr.edition span.elem-container {
    display: none;
}
tr.edition span.edit, tr.edition span.delete {
    display: none;
}
tr.edition td.commands {
    text-align: left;
}
tr.edition td.commands .cancel_edit, tr.edition td.commands .save {
    display: inline-block;
    vert-align: middle;
}
/* ----- Close edition mode ----- */

.commands .glyphicon {
    cursor: pointer;
    margin-right: 15px;
    color: #337ab7;
    padding: 4px;
}
.commands .glyphicon:hover {
    transition: all 0.2s;
    color: #000000;
    transform: scale(1.3);
}
#error_msg {
    display: none;
}
#activity_list {
    min-height: 264px;
}
#cover {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background: white url('../img/loader.gif') no-repeat center center;
    opacity: 0.7;
    z-index: 300;
    transition: all 0.4s;
}

#activity_list.loading #cover {
    display: block;

}